# Web框架
fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.3
python-multipart==0.0.6
python-jose==3.3.0
python-dotenv==1.0.0

# 日志
loguru==0.7.2

# 工具包
requests==2.31.0
python-dateutil==2.9.0.post0
pyyaml==6.0.1
